/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.step {float:left; width:100%; position:relative; background-position:fixed;} 
.step p {margin:0;}
.content {width:80%; height:100%; margin:0 auto; position:relative; }
#home {height:2000px;}
#home, #contact {background:#fe0036;}
#profile {background:#FFF;}
#portfolio {background:#000;}

.arrow {width:40px; height:90px; position:absolute; top:50%; right:0; margin-top:-45px;}
.arrow-up {width: 38px; height: 38px; display:block; background:url('../img/up.png') no-repeat; margin-bottom:10px;}
.arrow-down {width: 38px; height: 38px; display:block; background:url('../img/down.png') no-repeat;}

#home h1 {background:url('../img/logo.png') no-repeat; width:250px; height:160px; position:absolute; left:50%; top:50%; margin:-80px 0 0 -125px;}

#profile .column-left, #profile .column-right {width:50%; height:100%; position:relative; float:left;}
#profile .column-left span {background:url('../img/hi.png') no-repeat; width:241px; height:455px; display:block; position:absolute; top:50%; margin-top:-227px;}
#profile .column-right .grid-profile {width:495px; height:95px; position:absolute; right:0; top:50%; margin-top:-47px;}
#profile .column-right .twitter-profile {width:168px; height:29px; display:block; background:url('../img/profile-twitter.png') no-repeat; margin-top:13px;}
#profile .column-right .fb-profile {width:232px; height:28px; display:block; background:url('../img/fb-profile.png') no-repeat;}
#profile .column-right img {float:left; margin-right:20px; display:block;}
#profile .column-right .tp-profile {width:178px; height:55px; display:none; background:url('../img/balao.png') no-repeat; position:absolute; top:-50px; left:67px;}

#protifolio {position:relative;}
#portfolio .jobs {padding:0; width:610px; height:600px; position:absolute; top:50%; left:50%; margin-left:-305px; margin-top:-300px;}
#portfolio .jobs li {display:inline-block; margin-right:20px; margin-bottom:20px;}
.bw-wrapper {position:relative; display:block;}
#portfolio .jobs li:nth-child(5n) {margin-right:0;}

#contact {position:relative;}
#contact .contacts {padding:0; position:absolute; top:50%; left:50%; margin-top:-30px; margin-left:-385px; width:775px;}
#contact .contacts .contact {display:inline-block; margin-right:90px; position:relative;}
#contact .contacts .contact a {display:block; width:60px; height:60px;}
#contact .contacts .contact .fb {background:url('../img/fb.png') no-repeat;}
#contact .contacts .contact .twitter {background:url('../img/twitter.png') no-repeat;}
#contact .contacts .contact .phone {background:url('../img/phone.png') no-repeat;}
#contact .contacts .contact .location {background:url('../img/location.png') no-repeat;}
#contact .contacts .contact .mail {background:url('../img/email.png') no-repeat;}
#contact .contacts .contact .tp {display:none; height:55px;}
#contact .contacts .contact .tp-fb {width:150px; background:url('../img/fb2.png') no-repeat; position:absolute; top:-55px; left:9px;}
#contact .contacts .contact .tp-twitter {width:161px; background:url('../img/twitter2.png') no-repeat; position:absolute; top:-55px; left:9px;}
#contact .contacts .contact .tp-phone {width:228px; background:url('../img/phone2.png') no-repeat; position:absolute; top:-55px; left:9px;}
#contact .contacts .contact .tp-mail {width:228px; background:url('../img/email2.png') no-repeat; position:absolute; top:-55px; left:-178px;}
#contact .contacts .contact .tp-location {width:228px; background:url('../img/location2.png') no-repeat; position:absolute; top:-55px; left:-178px;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
